/*Bigger than 992*/
@media (min-width: 992px) {
    #mision-vision #vision {
        padding-right: 0;
    }
}

/*Bigger than 1350*/
@media (min-width: 1350px) {
    .container {
        width: 1316px;
    }
}

/*Bigger than 1526*/
@media (min-width: 1526px) {
    .container {
        width: 1487px;
    }

}



/************************************************************************************
smaller than 1525
*************************************************************************************/
@media screen and (max-width: 1525px) {
    /*--------------------------------*/
    #logosHeader .logofigure{
        padding-left: 0;
    }

    /*--------------------------------*/
}

/************************************************************************************
smaller than 1400
*************************************************************************************/
@media screen and (max-width: 1400px) {
    /*--------------------------------*/
    #suscripcion figure.social {
        right: 0;
    }

    /*--------------------------------*/
}

/************************************************************************************
smaller than 1349
*************************************************************************************/
@media screen and (max-width: 1349px) {
    /*--------------------------------*/

    /*--------------------------------*/
}



/************************************************************************************
smaller than 1200
*************************************************************************************/
@media screen and (max-width: 1200px) {
    /*--------------------------------*/
    #nuestrosServicios #contenido div.texto p{
        font-size: 1.5em;
    }

    /*--------------------------------*/
}

/************************************************************************************
smaller than 1070
*************************************************************************************/
@media screen and (max-width: 1070px) {
    /*--------------------------------*/
    #suscripcion div{
        float: left;
        margin: 0 6%;
    }

    .tittlebusqueda{
        clear: both;
        padding-top: 2em;
    }

    /*--------------------------------*/
}

/************************************************************************************
smaller than 1000
*************************************************************************************/
@media screen and (max-width: 1000px) {
    /*--------------------------------*/

    /*--------------------------------*/
}

/************************************************************************************
smaller than 991
*************************************************************************************/

@media screen and (max-width: 991px) {
    #servicios-grupo div {
        min-height: 402px;
    }

    #suscripcion div{
        width: 60%;
    }

    #suscripcion figure.social{
        top: 35px;
    }

    .aboutus .somos img{
        top: 82%;
    }

    .aboutus .grupo .myContainer{
        width: 90%;
    }

    #single-info p {
        text-align: left;
    }


}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {
    /*single*/
    /*--------------------------------*/

    .fullEntry div.title{
        width: 100%;
    }

    .fullEntryFigure{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .fullEntryFigure img{
        max-width: 350px;
        display: block;
        margin: 20px auto;
    }

    #logosHeader .logo{
        text-align: center;
    }

    #inmobiliaria-mainsection div h2{
        font-size: 2em;
    }

    /*--------------------------------*/

}

/************************************************************************************
smaller than 705
*************************************************************************************/
@media screen and (max-width: 705px) {
    /*--------------------------------*/
    /*#menuprincipal {
        display: none;
    }

    #mobilemenu {
        display: block;
    }*/


    .destacado .labelVerInmueble{
        top: 0;
        width: 100%;
    }

    .destacado .labelVerInmuebleMas p{
        font-size: 1.5em;
    }

    .aboutus .somos p{
        width: 100%;
    }

    .aboutus .grupo figure img{
        width: 100%;
        height: auto;
    }

    .nav-pills > li > a{
        width: 10.2em;
    }

    .nav li a{
        font-size: 0.8em;
    }

    .padding25{
        padding: 12px 15px !important;
    }

    .navwidth810{
        width: 33.2em;
    }

    .navwidth604{
        width: 25em;
    }

    /*--------------------------------*/
}


/************************************************************************************
smaller than 606
*************************************************************************************/
@media screen and (max-width: 606px) {
    /*--------------------------------*/

    #menuInmobiliaria  li a{
        width: 115px;
    }

    #section-main #alignText h2{
        font-size: 1.5em;
    }

    .aboutus h3{
        font-size: 2.9em;
    }

    .aboutus .somos img{
        display: none;
    }

    .nav li a{
        font-size: 0.6em;
    }

    .padding25{
        padding: 10px 15px !important;
    }

    .navwidth810{
        width: 24.9em;
    }

    .navwidth604 {
        width: 22em;
    }

    #logosheader .social figure img{
        width: 30%;
    }

    #logosheader .logo figure img{
        width: 80%;
        padding-top: 10%;
    }

    #inmobiliaria-mainsection div h2{
        font-size: 1.5em;
    }

    .rows4 .tittle{
        font-size: 2em;
    }

    .rows4 .texto{
        font-size: 1em;
    }



    /*--------------------------------*/
}

/************************************************************************************
smaller than 430
*************************************************************************************/
@media screen and (max-width: 430px) {
    /*--------------------------------*/
    #mobilemenu{
        right: 0;
        width: 110px;
    }

    #mobilemenu .rmm-toggled ul{
        font-size: 0.9em;
    }

    #section-main #alignText h2{
        font-size: 1em;
    }

    .busq #controllers{
        width: 16em;
    }

    .busq div#arriendos{
        width: 4.3em;
    }

    .busq div#ventas{
        width: 4.3em;
    }

    .busq div#tipo-inmueble{
        width: 15.3em
    }

    .busq div#ubicacion{
        width: 15.3em;
    }

    .busq div#buscar{
        width: 3em;
    }

    .busq h3{
        font-size: 1.7em;
    }

    .busq .surroundcodigo input{
        font-size: 0.6em;
        padding-right: 1em;
    }

    .busq p.busqCodigo{
        font-size: 0.5em;
    }

    .upto430{
        display: none;
    }

    .from430{
        display: block;
    }

    .destacado .labelVerInmuebleMas{
        right: 35%;
    }

    .aboutus h3{
        font-size: 2.1em;
    }

    .aboutus .somos p{
        font-size: 1em;
    }

    .aboutus .grupo .desc p{
        display: none;
    }

    .nav li a{
        font-size: 0.4em;
    }

    .padding25{
        padding: 11px 15px !important;
    }

    .navwidth810{
        width: 16.9em;
    }

    main.main-index{
        padding-top: 35%;
    }



    /*--------------------------------*/
}

/************************************************************************************
smaller than 364
*************************************************************************************/
@media screen and (max-width: 364px) {
    /*--------------------------------*/

    #mobilemenu{
        width: 75px;
    }

    #mobilemenu .rmm-toggled-title{
        display: none;
    }

    #mobilemenu .rmm-toggled ul{
        font-size: 0.6em;
    }


    /*--------------------------------*/
}




