doctype html5
html
    head
        title Grupo empresarial - Caribean Service
        meta(charset='utf-8')
        meta(name="description" content="Grupo empresarial - Somos una empresa especializada en el sector de gestión inmobiliria: Ventas, arriendos, avalúos, administración de propiedad horizontal y gerenciamiento de ventas de nuevos proyectos inmobiliarios.")
        meta(name="keywords" content="Empresarial, Inmobiliaria, Ventas, Arriendos, Avaluos, propiedad horizontal, bienes, proyectos, inmobiliarios")
        meta(name="author" content="Caribean service")
        meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1")

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')


        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-47464037-5', 'auto');
                ga('send', 'pageview');


    body#page-grupo
        header.header
            div.container
                //figure.pull-left#mainLogo
                    img(src='imgs/logo.png')
                    figcaption Caribean Service
                ul.nav.nav-pills.pull-right
                    li: a(href='index.php') INICIO
                    li: a(href='inmobiliaria.html') INMOBILIARIA
                    li.active: a(href='#') GRUPO EMPRESARIAL
                    li: a(href='contacto.html') CONTACTO
        main
            section#grupo-mainsection
                div#logo-grupo
                    div.container
                        figure
                            img(src="imgs/logos-GE.png")

            section#contenido-grupo
                div.container
                    div
                        p.
                            Somos un grupo especializado en Gestión Inmobiliaria y Gestión de Cartera,
                            <span>enfocado en brindar atencion personalizada a cada uno de nuestros clientes
                            orientandolos a realizar su mejor inversion satisfaciendo sus necesidades y
                            espectativas.</span>

            section#servicios-grupo
                div.col-md-12
                    div.container.inside
                        figure.pull-left.col-md-4
                            img(src='imgs/logo-C-Service.png')
                            figcaption Caribean Service
                        p.pull-right.col-md-7.
                            Somos una empresa prestadora de servicios en el sector
                            <span>inmobliario, asi como Gerencia de proyectos y
                            administración de propiedad horizontal.</span>
                            Para ello contamos con un completo equipo profesional
                            de trabajo en el que lo asesoraremos y orientaremos
                            hacia su mejor inversion.

                div.col-md-12
                    div.container
                        figure.pull-left.col-md-4
                            img(src='imgs/logo-C-Solutions.png')
                            figcaption Caribean Solutions
                        p.pull-right.col-md-7.
                            Brindamos soluciones integrales en los procesos de
                            <span>Recuperación de Cartera y sus instancias Prejuridica y Jurídica,</span>
                            buscando optimizar y mantener la relación entre nuestros
                            clientes y sus proveedores de manera persuasiva y a la vez
                            profesional, logrando resultados exitosos.



            section#contacto-grupo
                div
                    a(href="contacto.html")
                        p CONTÁCTANOS

            div#asesor
                p.
                    Le asesoramos en: Bogotá, Cali, Medellín, Barranquilla,
                    Cartagena, Santa Marta y Bucaramanga.


                //div#info-contacto.col-md-5
                    h3 CONTACTANOS <br><span>PARA ASESORARTE</span>
                    ul.col-lg-5
                        li.titleContact Teléfonos:
                        li (5) 668 70 64
                        li (5) 660 52 05
                    ul.col-lg-7
                        li.titleContact Email:
                        li gerenciacomercial@caribeanservice.com

                    ul.col-sm-12
                        li.titleContact Dirección:
                        li Centro, Sector La Matuna Edificio Banco Cafetero
                        li Oficina 703 -704 - 705
                        li.italic Cartagena - Colombia
                //div#campos-contacto.col-md-7
                    form(name="htmlform" method="post" action="html_form_send.php")
                        input(type="text", placeholder="Nombre", name="name", required = "required")
                        input(type="email", placeholder="E-mail", name="email", required = "required")
                        textarea(placeholder="Mensaje", name="message", required = "required")
                        input(type="submit" value="Enviar")
                //div.fondo


        footer.absolutePosition
            p Centro, Sector La Matuna Edificio Banco Cafetero Oficina 703 -704 - 705, Cartagena - Colombia
            div
            p (5)668 70 64 - (5) 660 52 05
            div
            p *Diseño Web: Ludico
            figure.footer-logo
                p Somos una empresa miembro de
                img(src="imgs/logo_footer.png")


    script(type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js")
    script(type="text/javascript" src="js/script.js")
