doctype html5
html
    head
        title Acerca de nosotros - Caribean Service
        meta(charset='utf-8')
        meta(name="description" content="Acerca de nosotros - Somos una empresa especializada en el sector de gestión inmobiliria: Ventas, arriendos, avalúos, administración de propiedad horizontal y gerenciamiento de ventas de nuevos proyectos inmobiliarios.")
        meta(name="keywords" content="Empresarial, Inmobiliaria, Ventas, Arriendos, Avaluos, propiedad horizontal, bienes, proyectos, inmobiliarios")
        meta(name="author" content="Caribean service")
        meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1")

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')


        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-47464037-5', 'auto');
                ga('send', 'pageview');




    body#page-nosotros
        header.header
            div.container
                figure.pull-left#mainLogo
                    img(src='imgs/logo.png')
                    figcaption Caribean Service
                ul.nav.nav-pills.pull-right
                    li: a(href='index.php') INICIO
                    li.active: a(href='#') INMOBILIARIA
                    li: a(href='grupoempresarial.html') GRUPO EMPRESARIAL
                    li: a(href='contacto.html') CONTACTO

        main
            div.container
                section#inmobiliaria-mainsection
                    div
                        h2.
                            Somos una empresa especializada en el sector de
                            gestión inmobiliria <br><span>Ventas, arriendos, avalúos,
                            administración de propiedad horizontal y
                            gerenciamiento de ventas de nuevos proyectos
                            inmobiliarios.</span>

            section#mision
                div.container
                    div
                        h3 MISIÓN
                        p.
                            Somos una empresa que gira en torno a la gestión
                            integral en el sector inmobiliario y financiero,
                            de esta manera nos esforzamos con ahínco en
                            satisfacer las necesidades de nuestros clientes
                            buscando así mejorar sus expectativas y calidad de
                            vida.

            section#vision
                div.container
                    div
                        h3 VISIÓN
                        p.
                            Nuestra visión es ser líderes en el sector inmobiliario,
                            en la venta y recuperación de cartera como empresa
                            de total credibilidad, seriedad y profesionalismo,
                            cuyos servicios se identifiquen con los más altos
                            estándares de calidad y compromiso con nuestros
                            clientes.

            section#nuestrosServicios
                div#titulo
                    div.container
                        h3 NUESTROS SERVICIOS
                div#contenido
                    div.container
                        div.col-sm-6
                            figure
                                img.showservices.fincaser(src="imgs/Boton-Finca.png")
                            div.texto
                                h2 FINCA RAÍZ
                                p.
                                    Servicios en el sector inmobiliario
                                label fincaraiz
                        div.col-sm-6
                            figure
                                img.showservices.gerenser(src="imgs/Boton-Geren.png")
                            div.texto
                                h2 GERENCIA DE PROYECTOS
                                p.
                                    Gerencia de proyectos y administración de propiedad horizontal
                                label gerenciadeproyectos

                div.fincaraiz-gerenciadeproyectos#fincaraiz
                    div.container
                        h1 FINCA RAÍZ
                        ul
                            li.showhide
                                a(href='#') Ventas
                                p.
                                    Le asesoramos profesionalmente en el proceso
                                    de compra y venta de sus inmuebles.
                            li.showhide
                                a(href='#') Arriendos
                                p.
                                    Le asesoramos profesionalmente en la gestión
                                    del arriendo seguro de su inmueble y a su vez le
                                    presentamos un portafolio de alternativas que se
                                    ajusten a sus necesidades y gustos.
                            li.showhide
                                a(href='#') Avaluos
                                p.
                                    Determinamos el valor real de su propiedad,
                                    con la experiencia de avaluadores miembros
                                    de la lonja de propiedad horizontal.
                            li.showhide
                                a(href='#') Asistencia <span>jurídica</span>
                                p.
                                    Nos encargamos profesionalmente de todos los
                                    procesos legales de sus propiedades, con la representación
                                    del departamento jurídico de nuestra
                                    empresa.
                            li.showhide
                                a(href='#') Suseción <span>de bienes</span>
                                p.
                                    Atendemos todo lo concerniente a los tramites de
                                    los derechos herenciales de sus propiedades con
                                    un excelente acompañamiento de nuestra area
                                    jurídica
                            li.showhide
                                a(href='#') Desenglobe <span>de bienes</span>
                                p.
                                    Le asesoramos en el proceso de independizar su
                                    propiedad, subdividiendolo en uno o mas inmuebles.
                            li.showhide
                                a(href='#') Asesoría <span>en crédito</span> hipotecario
                                p.
                                    Contamos con las herramientas, la asistencia y los
                                    medios necesarios para facilitar la obtención de
                                    su crédito en muchas de las entidades bancarias.
                        div.contacto
                            a(href="contacto.html")
                                p CONTÁCTANOS
                        img(src='imgs/Foto-FincaR.png')


                div.fincaraiz-gerenciadeproyectos#gerenciadeproyectos
                    div.container
                        h1 GERENCIA DE PROYECTOS
                        ul
                            li.showhide
                                a(href='#') Gerencia de <span>proyectos inmobiliarios</span>
                                p.
                                    - Lo conectamos desde el inicio con los predios de su interés y fácil
                                    comercialización para que su proyecto sea exitoso.
                                p.
                                    - Organizamos y gestionamos planes estratégicos de mercadeo ajustados a
                                    sus necesidades y expectativas.
                                p.
                                    - Diseñamos website y construimos redes sociales de acuerdo a la imagen
                                    corporativa.
                                p.
                                    - Contamos con alianzas comerciales en las principales ciudades del país
                                    para la promoción exitosa de proyectos.
                                p.
                                    - Organizamos ferias y lanzamientos haciendo participes a los clientes que
                                    conforman nuestra base de datos.
                            li.showhide
                                a(href='#') Gerencia de <span>proyectos viviendas VIS y VIP</span>
                                p.
                                    Soluciones en viviendas de interés social y de interés prioritario.
                            li.showhide
                                a(href='#') Administración <pan>de propiedad horizontal</span>
                                p.
                                    Generamos solución integral en la administración de edificios, conjuntos
                                    residenciales y multifamiliares, brindándoles un portafolio completo de
                                    servicios, tales como: administración, contabilidad, revisoría fiscal, suministro
                                    de personal para vigilancia, mantenimiento, aseo, jardinería, oficios
                                    varios, circuito cerrado de tv, etc.
                                    Adicionalmente mantenimiento general a ventanería y fachada con
                                    lavado y pintura.
                        div.contacto
                            a(href="contacto.html")
                                p CONTÁCTANOS
                        img(src='imgs/Foto-Gerencia.png')



                //div#asesor
                    p.
                        Le asesoramos en: Bogotá, Cali, Medellín, Barranquilla,
                        Cartagena, Santa Marta y Bucaramanga.



        footer.absolutePosition
            p Centro, Sector La Matuna Edificio Banco Cafetero Oficina 703 -704 - 705, Cartagena - Colombia
            div
            p (5)668 70 64 - (5) 660 52 05
            div
            p *Diseño Web: Ludico

            figure.footer-logo
                p Somos una empresa miembro de
                img(src="imgs/logo_footer.png")

    script(type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js")
    script(type="text/javascript" src="js/script.js")
