doctype html5
html
    head
        title Single - Caribean Service
        meta(charset='utf-8')
        meta(name="description" content="Single - Somos una empresa especializada en el sector de gestión inmobiliria: Ventas, arriendos, avalúos, administración de propiedad horizontal y gerenciamiento de ventas de nuevos proyectos inmobiliarios.")
        meta(name="keywords" content="Empresarial, Inmobiliaria, Ventas, Arriendos, Avaluos, propiedad horizontal, bienes, proyectos, inmobiliarios")
        meta(name="author" content="Caribean service")
        meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1")
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='css/media-queries.css')
    body#page-single_imagenes
        header.header
            div.container
                ul.nav.nav-pills.pull-left
                    li: a(href='single_imagenes.php') IMÁGENES
                    li.active: a(href='#') DESCRIPCIÓN
                div#single-info
                    p Apartamento en Cartagena
                    p Para Arriendo
                    p Bocargande
                    p 120m2
                    p 3 habitaciones
                    p 2 baños
                    p.precio $ 2,500,000
        div.container
            div#contenido-single.col-sm-6
                h2 Cod. C16281
                div#mainDescripcion
                    div
                        h4.col-lg-7 CIUDAD
                        p.col-lg-3 Cartagena
                    div
                        h4.col-lg-7 BARRIO
                        p.col-lg-3 Bocagrande
                    div
                        h4.col-lg-7 TIPO DE INMUEBLE
                        p.col-lg-3 Apartamento
                    div
                        h4.col-lg-7 ESTRATO
                        p.col-lg-3 6
                    div
                        h4.col-lg-7 HABITACIONES
                        p.col-lg-3 2
                    div
                        h4.col-lg-7 BAÑOS
                        p.col-lg-3 3
                    div
                        h4.col-lg-7 AREA
                        p.col-lg-3 105 m2

            h3 OTRAS CARACTERISTICAS: <span>Area De Labores, Cocina Semintegral, Comedor, Sala</span>

        div#footer-single
            div.container
                figure#logo-single
                    img(src="imgs/logo-single.png")
